page-login {

  .login-btn {
    margin-bottom: 0;
  }

  .login-footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .login-verify {
    position: absolute;
    z-index: 2;
    top: 50%;
  }

  .cover {
    margin-top: 10px;
    height: 130px;
    width: 140px;


  }
  .c {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;

  }
  .borders{
    border: 1px solid $color-primary
  }
}
